html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.App {
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

table {
  width: 80%;
  max-width: 800px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px; 
  background-color: #59C9A5;
  border: 2px solid #7E2C5B; 
  overflow: hidden; 
}

th, td {
  padding: 12px 15px;
  text-align: left;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #D81E5B;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.action-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-button {
  margin-left: 5px;
}

.table-button.delete {
  background-color: red;
  color: white;
}

.table-button.timeline {
  background-color: lightgray;
  color: black;
}